In [1]:


#import libraries
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

In [2]:
#load dataset
data = pd.read_csv("Waveform_dataset.csv")
data .head()

,Column,Column.1,Column.2,Column.3,Column.4,Column.5,Column.6,Column.7,Column.8,Column.9,...,Column.31,Column.32,Column.33,Column.34,Column.35,Column.36,Column.37,Column.38,Column.39,Column.40
0,-0.23,-1.21,1.20,1.23,-0.10,0.12,2.49,1.19,1.34,0.58,...,-0.86,-0.70,0.51,0.34,-0.13,-0.87,0.56,-0.53,0.29,2
1,0.38,0.38,-0.31,-0.09,1.52,1.35,1.49,3.81,2.33,1.34,...,1.28,1.40,0.00,-0.18,0.71,0.04,0.91,-0.79,0.22,0
2,-0.69,1.00,1.08,1.48,2.44,3.39,3.09,4.08,5.48,3.61,...,0.29,1.12,0.60,0.28,2.17,0.18,-0.09,-1.33,1.00,1
3,0.40,0.68,0.27,1.39,1.03,-0.32,-1.23,-0.50,0.11,0.87,...,0.43,-0.30,-0.07,-0.99,-0.75,1.11,1.35,-1.63,0.10,0
4,-0.81,1.59,-0.69,1.16,4.22,4.98,4.52,2.54,5.60,4.66,...,0.62,0.14,1.33,-1.87,1.48,-0.02,-0.58,0.93,0.40,1

In [4]:
#data.isna().sum()

In [5]:
data.shape

(5000, 41)

### Set Feature and target

In [10]:
# X =feature
#Y= target
X = data.iloc[:,:-1]
Y= data.iloc[:,-1]

In [7]:
X.shape

(5000, 40)

In [8]:
X.head()

,Column,Column.1,Column.2,Column.3,Column.4,Column.5,Column.6,Column.7,Column.8,Column.9,...,Column.30,Column.31,Column.32,Column.33,Column.34,Column.35,Column.36,Column.37,Column.38,Column.39
0,-0.23,-1.21,1.20,1.23,-0.10,0.12,2.49,1.19,1.34,0.58,...,-0.63,-0.86,-0.70,0.51,0.34,-0.13,-0.87,0.56,-0.53,0.29
1,0.38,0.38,-0.31,-0.09,1.52,1.35,1.49,3.81,2.33,1.34,...,0.31,1.28,1.40,0.00,-0.18,0.71,0.04,0.91,-0.79,0.22
2,-0.69,1.00,1.08,1.48,2.44,3.39,3.09,4.08,5.48,3.61,...,0.93,0.29,1.12,0.60,0.28,2.17,0.18,-0.09,-1.33,1.00
3,0.40,0.68,0.27,1.39,1.03,-0.32,-1.23,-0.50,0.11,0.87,...,1.18,0.43,-0.30,-0.07,-0.99,-0.75,1.11,1.35,-1.63,0.10
4,-0.81,1.59,-0.69,1.16,4.22,4.98,4.52,2.54,5.60,4.66,...,-0.07,0.62,0.14,1.33,-1.87,1.48,-0.02,-0.58,0.93,0.40

In [11]:
Y.head()

0    2
1    0
2    1
3    0
4    1
Name: Column.40, dtype: int64

### Split the dataset into train and test

In [12]:
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=0.2,random_state=42)

In [13]:
print("x_train :",x_train.shape)
print("x_test :",x_test.shape)
print('y_train:',y_train.shape)
print("y_test:",y_test.shape)

x_train : (4000, 40)
x_test : (1000, 40)
y_train: (4000,)
y_test: (1000,)

### Build RandomForest() model

In [40]:
clf = RandomForestClassifier(random_state=365, ccp_alpha=0.002)

In [41]:
clf.fit(x_train,y_train)

RandomForestClassifier(ccp_alpha=0.002, random_state=365)

In [42]:
y_pred = clf.predict(x_test)

In [43]:
y_pred[:10]

array([1, 0, 1, 2, 2, 2, 0, 0, 2, 1], dtype=int64)

##### Check model accuracy

In [44]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.91      0.81      0.86       339
           1       0.84      0.90      0.87       315
           2       0.86      0.90      0.88       346

    accuracy                           0.87      1000
   macro avg       0.87      0.87      0.87      1000
weighted avg       0.87      0.87      0.87      1000

In [45]:
y_test[:10]

1501    0
2586    0
2653    1
1055    2
705     2
106     2
589     0
2468    1
2413    2
1600    1
Name: Column.40, dtype: int64

In [49]:

pd.crosstab(y_test,y_pred)

col_0        0    1    2
Column.40
0          276   28   35
1           17  283   15
2           11   25  310