In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
url = "https://www.worldometers.info/world-population/population-by-country/"

In [4]:
page = requests.get(url)

In [5]:
page

In [7]:
soup = BeautifulSoup(page.text, 'html.parser')

In [8]:
rows = soup.find('table',{'id':"example2"}).find('tbody').find_all('tr')

In [9]:
print(len(rows))

235

In [28]:
countries_list = []

for row in rows:
    dic = {}
    
    dic['Country'] = row.find_all('td')[1].text
    dic['Population'] = row.find_all('td')[2].text.replace(",", "")
    dic['Land Area'] = row.find_all('td')[6].text.replace(",","")
    countries_list.append(dic)

In [29]:
df = pd.DataFrame(countries_list)

In [30]:
df.head()

         Country  Population Land Area
0          China  1439323776   9388211
1          India  1380004385   2973190
2  United States   331002651   9147420
3      Indonesia   273523615   1811570
4       Pakistan   220892340    770880

In [94]:
df.to_csv('world_population.csv', index=False)

#### Webscrap Population by year

In [34]:
link = "https://www.worldometers.info/world-population/world-population-by-year/"

In [35]:
response = requests.get(link)

In [36]:
stew = BeautifulSoup(response.text, 'html.parser')

In [39]:
table = stew.find('table', {'class':'table table-hover table-condensed'}).find('tbody').find_all('tr')

In [49]:
table_list = []

for row in table:
    
    dic = {}
    
    dic['Year'] = row.find_all('td')[0].text
    dic['World_population'] = row.find_all('td')[1].text.replace(",","")
    dic['Yearly_change'] = row.find_all('td')[2].text
    dic['Net_change'] = row.find_all('td')[3].text.replace(",","")
    
    
    table_list.append(dic)

In [50]:
data = pd.DataFrame(table_list)

In [51]:
data.head()

   Year World_population Yearly_change Net_change
0  2020       7794798739        1.05 %   81330639
1  2019       7713468100        1.08 %   82377060
2  2018       7631091040        1.10 %   83232115
3  2017       7547858925        1.12 %   83836876
4  2016       7464022049        1.14 %   84224910

In [93]:
data.to_csv('world_population_by_year.csv', index=False)

In [53]:
data.isna().sum()

Year                0
World_population    0
Yearly_change       0
Net_change          0
dtype: int64

### Scraping Population of Ghana

In [54]:
site = "https://www.worldometers.info/world-population/ghana-population/"

In [55]:
page = requests.get(site)

In [59]:
soup = BeautifulSoup(page.text, 'html.parser')

In [82]:
ghana_table = soup.find('div',class_ = "table-responsive").find('tbody').find_all('tr')

In [87]:
ghana_population = []

for row in ghana_table:
    dic = {}
    
    dic['Year'] = row.find_all('td')[0].text
    dic['Population'] = row.find_all('td')[1].text.replace(",","")
    dic['Yearly % change'] = row.find_all('td')[2].text    
    dic['Yearly change'] = row.find_all('td')[3].text.replace(",","")
    dic['Fertility rate'] = row.find_all('td')[6].text
         
    ghana_population.append(dic)

In [88]:
ghana_df = pd.DataFrame(ghana_population)

In [90]:
ghana_df.head()

   Year Population Yearly % change Yearly change Fertility rate
0  2020   31072940          2.15 %        655084           3.89
1  2019   30417856          2.19 %        650754           4.12
2  2018   29767102          2.22 %        645637           4.12
3  2017   29121465          2.25 %        639520           4.12
4  2016   28481945          2.27 %        632740           4.12

In [92]:
ghana_df.to_csv("Ghana_population.csv", index=False)